In [1]:
#This versions creates visitor nodes and cbg nodes. 
import pandas as pd #importing neccisary libraries 
import numpy as np

In [2]:
# you might have to change the uri to whatever pops up when you run neo
#connect to neo4j database 
from neo4j import GraphDatabase 
driver = GraphDatabase.driver(uri="bolt://localhost:7687", auth=("neo4j", "password")) 
session = driver.session()

In [15]:
#To check the correct month you would have to change the date and possibly year
#My reccomendation is have a loop that iterates throught the number of months

AttributeError: 'Session' object has no attribute 'query'

In [23]:
#q1 This query sort by number of cbgs and displays the top category along with the total number of cbgs for this month TopCat, size
q1 ="match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="+'"'+"February"+'"'+" and r.year=2020 return p.topCatagory as Category, size(collect(distinct n)) as numOfCbgs order by numOfCbgs desc limit 10"

a =session.run(q1)
pd.DataFrame(a)

                                                   0      1
0                Restaurants and Other Eating Places  18337
1          Support Activities for Air Transportation  17840
2                             Traveler Accommodation  13645
3  Museums, Historical Sites, and Similar Institu...   9894
4                             Lessors of Real Estate   8769
5          Other Amusement and Recreation Industries   8619
6              Drinking Places (Alcoholic Beverages)   7017
7                                  Gasoline Stations   5242
8                Other Miscellaneous Store Retailers   4985
9                                     Grocery Stores   4982

In [ ]:
#q2 this query sort by number of cbgs and displays the top category along with the total number of cbgs coming from the same state but a different county TopCat, size
q2 = '''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="February" and r.year=2020 and n.State="12" and n.County<>"086"
   
   return p.topCatagory as Category, size(collect(distinct n)) as numOfCbgs
   order by numOfCbgs desc limit 10
'''
a =session.run(q2)
pd.DataFrame(a)

In [ ]:
#q3 is the top for in state and in county TopCat, size
q3 = '''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="February" and r.year=2020 and n.State="12" and n.County="086"
   
   return p.topCatagory as Category, size(collect(distinct n)) as numOfCbgs
   order by numOfCbgs desc limit 10
'''
a =session.run(q3)
pd.DataFrame(a)

In [ ]:
#q4 this is for people outside of state. TopCat, size
q4 = '''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="February" and r.year=2020 and n.State<>"12"
   
   return p.topCatagory as Category, size(collect(distinct n)) as numOfCbgs
   order by numOfCbgs desc limit 10
'''
a =session.run(q4)
pd.DataFrame(a)

In [ ]:
#q5 This query sort by number of cbgs and displays the top category along with the total number of cbgs for this month SubCat, size
q5 = '''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="February" and r.year=2020 
   
   return p.subCatagory as Category, size(collect(distinct n)) as numOfCbgs
   order by numOfCbgs desc limit 10
'''
a =session.run(q5)
pd.DataFrame(a)

In [ ]:
#q2 this query sort by number of cbgs and displays the top category along with the total number of cbgs coming from the same state but a different county SubCat, size
q6 = '''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="February" and r.year=2020 and n.State="12" and n.County<>"086"
   
   return p.subCatagory as Category, size(collect(distinct n)) as numOfCbgs
   order by numOfCbgs desc limit 10
'''
a =session.run(q6)
pd.DataFrame(a)

In [ ]:
#q7 is the top for in state and in county SubCat, size
q7 = '''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="February" and r.year=2020 and n.State="12" and n.County="086"
   
   return p.subCatagory as Category, size(collect(distinct n)) as numOfCbgs
   order by numOfCbgs desc limit 10
'''
a =session.run(q7)
pd.DataFrame(a)

In [ ]:
#q8 #q4 this is for people outside of state. SubCat, size
q8 = '''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="February" and r.year=2020 and n.State<>"12"
   
   return p.subCatagory as Category, size(collect(distinct n)) as numOfCbgs
   order by numOfCbgs desc limit 10
'''
a =session.run(q8)
pd.DataFrame(a)

In [ ]:
#q9 This shows the top 20 places specified designated month and year
q9='''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="February"  and r.year = 2020   
     
    return  p.name, sum(r.EstimatedVisits) as total  
    order by total desc limit 20
'''
a =session.run(q9)
pd.DataFrame(a)

In [ ]:
#q10 This shows the top 20 places specified designated month and year
q10='''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="April"  and r.year = 2020   
     
    return  p.name, sum(r.EstimatedVisits) as total  
    order by total desc limit 20
'''
a =session.run(q10)
pd.DataFrame(a)

In [ ]:
#q11 This shows the top 20 places specified designated month and year
q11='''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="July"  and r.year = 2020   
     
    return  p.name, sum(r.EstimatedVisits) as total  
    order by total desc limit 20
'''
a =session.run(q11)
pd.DataFrame(a)

In [ ]:
#q12 This shows the top 20 places specified designated month and year
q12='''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="May"  and r.year = 2021   
     
    return  p.name, sum(r.EstimatedVisits) as total  
    order by total desc limit 20
'''
a =session.run(q12)
pd.DataFrame(a)

In [ ]:
#q13 This shows the top 20 Categorys specified designated month and year
q13='''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="July"  and r.year = 2020   
     
    return  p.topCatagory , sum(r.EstimatedVisits) as total  
    order by total desc limit 20
'''
a =session.run(q13)
pd.DataFrame(a)

In [ ]:
#q14 This queries takes the top 10-20 places that share the most amount of cbgs for the specified month and year
q14='''
MATCH (n:Place)
CALL {
 WITH n
 MATCH (n)<-[r:Visited{month: "February"}]-(c:CensusBG)-[b:Visited{month: "February"}]->(m:Place) 
 WHERE id(n) < id(m)
 RETURN n.name as name1,  m.name as name2, count(c) as cnt
}
RETURN name1, name2, cnt
ORDER BY cnt DESC
LIMIT 10

'''
a =session.run(q14)
pd.DataFrame(a)

In [ ]:
#q15 This queries takes the top 10-20 places that share the most amount of cbgs for the specified month and year
q15='''
MATCH (n:Place)
CALL {
 WITH n
 MATCH (n)<-[r:Visited{month: "April"}]-(c:CensusBG)-[b:Visited{month: "April"}]->(m:Place) 
 WHERE id(n) < id(m)
 RETURN n.name as name1,  m.name as name2, count(c) as cnt
}
RETURN name1, name2, cnt
ORDER BY cnt DESC
LIMIT 10

'''
a =session.run(q15)
pd.DataFrame(a)

In [ ]:
#q16 This queries takes the top 10-20 places that share the most amount of cbgs for the specified month and year
q16='''
MATCH (n:Place)
CALL {
 WITH n
 MATCH (n)<-[r:Visited{month: "July"}]-(c:CensusBG)-[b:Visited{month: "July"}]->(m:Place) 
 WHERE id(n) < id(m)
 RETURN n.name as name1,  m.name as name2, count(c) as cnt
}
RETURN name1, name2, cnt
ORDER BY cnt DESC
LIMIT 10

'''
a =session.run(q16)
pd.DataFrame(a)

In [2]:
#q17 This queries takes the top 10-20 places that share the most amount of cbgs for the specified month and year
q17='''
MATCH (n:Place)
CALL {
 WITH n
 MATCH (n)<-[r:Visited{month: "May"}]-(c:CensusBG)-[b:Visited{month: "May"}]->(m:Place) 
 WHERE id(n) < id(m)
 RETURN n.name as name1,  m.name as name2, count(c) as cnt
}
RETURN name1, name2, cnt
ORDER BY cnt DESC
LIMIT 10

'''
a =session.run(q17)
pd.DataFrame(a)

In [ ]:
#q18 Highest Average of Visits Feb/2020 , Topcat, and Average
q18='''
match (n:CensusBG)-[r:Visited]->(p:Place) where r.month ="February"
   
    return p.topCatagory, avg(r.EstimatedVisits) as mean,  max(r.EstimatedVisits) , sum(r.EstimatedVisits), count(r)
    order by mean desc limit 10
'''
a =session.run(q18)
pd.DataFrame(a)

In [1]:
#q19 this query return nurisng home category, the number of cbgs, the number of visits, and the top category that have the most shared census block groups. 
q19='''
match(n:Place)<-[r:Visited]-(c:CensusBG)-[b:Visited]->(p:Place)
where n.topCatagory = "Nursing Care Facilities (Skilled Nursing Facilities)" and r.month= "February" and b.month= "February" and p.topCatagory = "Grocery Stores" 

return n.topCatagory,  p.topCatagory , size(collect (distinct c)) as sharedcbgs , sum(r.EstimatedVisits) as cbg2p1,  sum(b.EstimatedVisits) as cbg2p2
order by sharedcbgs desc limit 10

'''
a =session.run(q19)
pd.DataFrame(a)

SyntaxError: invalid syntax (<ipython-input-2-74e077042be5>, line 4)